body, html {
	width: 100%;
	background-color: black;
}
#list {
	width: 300px;
	background-color: teal;
}
#list ul {
	width: 100%;
}

#info {
	width: 200px;
	background-color: pink;
	text-align: center;
}
#map {
	width: 600px;
	height: 600px;
}
#markernames {
	background-color: red;
	width: 100%;
}
#markernames li {
	list-style-type:none;
	background-color: pink;
}
#wikilist {
}
.center {
	text-align: center;
}
.container {
	width: 1000px;
	background-color: black;
	display: flex;
	margin: auto;
	justify-content: center;
	border: 14px solid DarkBlue;
}