body, html {
	width: 100%;
	height: 100%;
	background-color: red;
}
#list {
	width: 30%;
	height: 400px;
	background-color: teal;
	font-size: 1.25em;
	color: yellow;
}
#list ul {
	background-color: black;
}
#list li {
	color: white;
	list-style-type: none;
	font-size: 1.25em;
}
#list li:hover {
	color: blue;
	background-color: white;
	cursor: pointer;
}

#info {
	width: 100%;
	height: 200px;
	background-color: pink;
	text-align: center;
}
#map {
	width: 70%;
	height: auto;
}
.center {
	text-align: center;
}
.container {
	width: 1000px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	border: 14px solid DarkBlue;
}